@import "../variables";

@import "../mixins";

@import "transacciones";

@mixin bloque-div {
    /*los bloques que componen las secciones de seleccion de productos, seleccion de proveedor y el precio total */
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 80%;

    margin-bottom: 30px;
}

.pestaña-compra {
    @include margen-izquierda;

    .parte-superior {
        @include parte-superior;
        justify-content: center;
    }

    .div-seleccion-productos {
        @include div-seleccion-productos;
    }

    .div-seleccion-proveedor {
        @include bloque-div;

        justify-content: space-evenly;

        .texto-proveedor {
            width: auto;
            font-family: Roboto;
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
        }

        .select-proveedor {
            @include cuadro-input;
        }
    }

    .div-precio-total {
        @include div-precio-total;
        .unidad-total {
            color: $color-rojo-eliminar;
        }
    }

    .boton-finalizar {
        @include boton-finalizar;
    }
}
