@import "../variables";

@import "../mixins";

$width-campo-producto: 200px;
$width-campo-cantidad: 100px;
$width-campo-precio: 100px;
$width-boton-eliminar: 70px;

@mixin bloque-div {
    /*los bloques que componen las secciones de seleccion de productos, seleccion de proveedor y el precio total */
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 80%;

    margin-bottom: 30px;
}

.pestaña-compra {
    @include margen-izquierda;

    .div-seleccion-productos {
        @include bloque-div;
        justify-content: space-between;

        .texto-productos {
            width: auto;
            font-family: Roboto;
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
        }

        .seleccion-productos {
            margin: 0;
            padding: 0;
            list-style-type: none;

            display: inline-flex;
            flex-direction: column;

            width: 500px;
            //justify-content: space-between;

            .titulo-campos {
                margin-top: 0;
                margin-bottom: 0;
                display: inline-flex;
                flex-direction: row;
                justify-content: space-between;

                label {
                    text-align: center;
                    font-family: Roboto;
                    font-style: normal;
                    font-size: 16px;
                }

                .label-producto {
                    width: $width-campo-producto;
                }

                .label-cantidad {
                    width: $width-campo-cantidad;
                }

                .label-precio {
                    width: $width-campo-precio;
                }

                .label-vacio {
                    width: $width-boton-eliminar;
                }
            }

            li {
                margin-top: 5px;
                margin-bottom: 5px;

                display: inline-flex;
                flex-direction: row;
                justify-content: space-between;

                .select-producto {
                    @include cuadro-input;
                    width: $width-campo-producto;
                }

                .input-cantidad {
                    @include cuadro-input;
                    width: $width-campo-cantidad;
                }

                .input-precio {
                    @include cuadro-input;
                    width: $width-campo-precio;
                }

                .boton-eliminar-producto {
                    @include boton-eliminar;
                    width: $width-boton-eliminar;
                }
            }
        }

        .boton-nuevo-producto {
            @include boton-verde;
            width: 100px;
            height: 50px;
        }
    }

    .div-seleccion-proveedor {
        @include bloque-div;

        justify-content: space-evenly;

        .texto-proveedor {
            width: auto;
            font-family: Roboto;
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
        }

        .select-proveedor {
            @include cuadro-input;
        }
    }

    .div-precio-total {
        @include bloque-div;

        justify-content: center;

        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;

        .unidad-total {
            margin-left: 10px;
            color: $color-rojo-eliminar;
        }
    }
}
